[project]
name = "project-inf"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.11"
dependencies = [
    "fastapi>=0.128.0",
    "pydantic>=2.12.5",
    "torch>=2.10.0",
    "transformers>=5.2.0",
    "uvicorn>=0.40.0",
]
